---
// component imports
import Link from "./Link.astro";

const { prevUrl, nextUrl } = Astro.props;
---

<nav aria-label="Blog pages">
  {
    prevUrl && (
      <Link
        text="Previous"
        href={prevUrl}
        style="primary"
        borderVisible={true}
        isFilled={false}
        icon={{
          name: "ic:round-keyboard-double-arrow-left",
          side: "left",
        }}
      />
    )
  }
  {
    nextUrl && (
      <Link
        text="Next"
        href={nextUrl}
        style="primary"
        borderVisible={true}
        isFilled={false}
        icon={{
          name: "ic:round-keyboard-double-arrow-right",
          side: "right",
        }}
      />
    )
  }
</nav>