---
// utils imports
import { slugify, formatDate } from "../js/utils"

const { title, date, category, author, image } = Astro.props;
---

<header>
  <div class="container">
    <small>
      <a href={`/category/${slugify(category)}/`} class="badge">{category}</a>
    </small>
    <h1 class="h2">{title}</h1>
    <p>by <a href={`/author/${slugify(author)}/`}>{author}</a> • {formatDate(date)}</p>
  </div>
  <img class="hero-image" src={image.src} alt={image.alt}>
</header>