---
// utils imports
import { slugify, formatDate } from "../js/utils"

// component imports
import Link from "./Link.astro";

const { frontmatter, url, tagType } = Astro.props;
const Tag = tagType;

const { title, description, date, category, author, image } = frontmatter;
---

<!-- <pre>{JSON.stringify(frontmatter, null, 2)}</pre> -->

<!-- <p>{frontmatter.title}</p> -->

<article class="card">
  <small>
    <a href={`/category/${slugify(category)}/`} class="badge">{category}</a>
  </small>
  <a href={url} tabindex="-1">
    <img class="hero-image2" src={image.src} alt={image.alt}>
  </a>
  <div class="content">
    <div>
      <Tag class="h3">
        <a href={url}>{title}</a>
      </Tag>
      <small>by <a href={`/author/${slugify(author)}/`}>{author}</a> • {formatDate(date)}</small>
    </div>
    <p>
      {description}
    </p>
    <Link
      href={url}
      text="Read Post"
      style="secondary"
    />
  </div>


</article>