---
// component imports
import PostHeader from '../components/PostHeader.astro';
import MainLayout from './MainLayout.astro';
import CategoryCloud from '../components/CategoryCloud.astro';

const { frontmatter } = Astro.props;

const { title, description, date, category, author, image } = frontmatter;
---

<MainLayout title={title} {description}>
  <PostHeader 
    {title}
    {description}
    {date}
    {category}
    {author}
    {image}
  />
  <div class="post-content">
    <div class="content">
      <slot />
    </div>
    <div class="sidebar">
      <aside class="container" aria-label="Blog categories">
        <h2 class="h3">Blog Categories</h2>
        <CategoryCloud />
      </aside>
    </div>
  </div>
</MainLayout>


<!--  <ul>
   <li>
     <a href="./post-1/">Post 1</a>
   </li> 
   <li>
     <a href="./post-2/">Post 2</a>
   </li>
    <li>
     <a href="./post-3/">Post 3</a>
   </li>
    <li>
     <a href="./post-4/">Post 4</a>
   </li>
    <li>
     <a href="./post-5/">Post 5</a>
   </li>
    <li>
     <a href="./post-6/">Post 6</a>
   </li>
 </ul> -->