---
// component imports
import MainHead from './MainHead.astro';
import Footer from '../components/Footer.astro';
import Nav from '../components/Nav.astro';

// style import
import "../styles/global.css";

/* interface Props {
  title?: string;
  description?: string;
} */ //TS

const { 
  title = "My Astro Blog", 
  description = "My musings about the Astro framework",
  image,
  frontmatter,
  robots 
} = Astro.props /* as Props */;

/* const { title } = Astro.props; */

---

<!doctype html>
<html lang="en">
  <MainHead {title} {description} {image} {frontmatter} {robots} />
<!--   <MainHead title={title} description={description} /> -->
	<body>
    <Nav />
    <main>
      <slot>Default Text</slot>
      <!-- <slot /> same -->
    </main>
    <Footer />
	</body>
</html>
